.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;

  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: #eee;
    margin: .5em;
    border-radius: 4px;
    outline: 0;

    &:hover {
      color: #607D8B;
      background: #ddd;
    }

    .badge {
      font-size: small;
      color: #fff;
      background: #405061;
      border-radius: 4px 0 0 4px;
      padding: 10px;
    }

    .name {
      padding: 8px 10px;
    }

    .delete {
      height: 35px;
      margin: 0;
      background: transparent;

      &:hover,
      &:focus {
        background: transparent;
        color: crimson;
      }
    }
  }
}
